body {
    background: url(assets/matrix2.gif)
}

h1 {
    height: 50px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 40px;
    padding-top: 5px;
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    text-align: center;
    -webkit-animation:colorchange 10s infinite alternate;
    
}

#main {
    height: 600px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15px;
    background-color: black;
    color: white;
}

#whichPill {
    color: white;
    font-size: 38px;
    text-align: center;
    padding-top: 40px;
}

#redpill {
    height: 250px;
    width: 250px;
    margin-left: 500px;
    margin-top: 100px;
}

#bluepill {
    height: 250px;
    width: 250px;
    margin-left: 50px;
    margin-top: 100px;
}

h2 {
    color: white;
    font-size: 38px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
}

h3 {
    color: white;
    font-size: 32px;
    text-align: center;
    padding-bottom: 60px;
}

h4 {
    color: white;
    font-size: 32px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

p {
    width: 200px;
    color: white;
    font-size: 32px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40%;
    }

    #noob {
        margin-left: 38%;
    }

    @-webkit-keyframes colorchange {
        0% {
          
          color: #fff8ff;
        }
        
        10% {
          
          color: #5dc07f ;
        }
        
        20% {
          
          color: #000000 ;
        }
        
        30% {
          
          color: #0c6824 ;
        }
        
        40% {
          
          color: #fff8ff ;
        }
        
        50% {
          
          color: #5dc07f ;
        }
        
        60% {
          
          color: #0c6824 ;
        }
        
        70% {
          
          color:  #000000;
        }
        80% {
       
          color: #5dc07f ;
        }
        
        90% {
       
          color: #fff8ff ;
        }
        
        100% {
          
          color: #0c6824 ;
        }
      }